.col-md-3 {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 100%;
    font-size: xx-small !important;
}

.btn-billed {
    width: 100%;
    font-size: xx-small !important;
}

th {
    text-align: center;
    font-size: xx-small !important;
}

td {
    text-align: left;
    font-size: xx-small !important;
}

tr:hover {
    background-color: rgb(213, 236, 255);
}

tr:hover td {
    background-color: transparent; /* or #000 */
}