.col-md-3 {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 50%;
    font-size: small !important;
}

th {
    text-align: center;
    font-size: small !important;
}

td {
    text-align: left;
    font-size: small !important;
}